.footer {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #f7f7f7;
  padding-left: 1rem;
  margin: 0.5rem;
}

.footer svg {
  font-size: 2rem; /* Increase the font size to make all icons bigger */
  margin: 1rem; /* Add some margin between icons (optional) */
}

