.footer {
  display: flex;
  justify-content: center;
}

.footer svg {
  font-size: 2rem; /* Increase the font size to make all icons bigger */
  margin: 1rem; /* Add some margin between icons (optional) */
}

.light .footer{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.dark .footer{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}