.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #f7f7f7;
  margin: 2rem;
}

.footer svg {
  font-size: 2rem; /* Increase the font size to make all icons bigger */
  margin: 1rem; /* Add some margin between icons (optional) */
}

