:root {
  --background-color-light: #fff;
  --text-color-light: #333;
  --background-color-dark: #333;
  --text-color-dark: #fff;
}

.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.anim {
  transition: 0.2s all ease ;
}

/* Reset some default browser styles */imag
html, body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Definitely reset the box model */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

/* <html> = the root */
/* Disable the text inflation algorithm */
html {
  font-size: 100%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

/* Reset (most) lists */
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

a {
  /* Places underlines below the descenders */
  text-decoration: none;
  color: #fff;
}

/* Rethink how focus works */
:focus:not(:focus-visible) {
  outline: none;
}

/* Provide interactive elements with a cursor */
svg,
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

button {
  margin: 0.5rem;
  display: inline-block;
  width: 6rem;
  outline: 0;
  border-radius: 6px;
  color: #fff;
  background-color: #ff4742;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
button:hover{
  transform: scale(1.1); /* Enlarge the image by 20% on hover */
  transform-origin: top; /* Define the point from which the image will expand */
}

svg:hover {
  transform: scale(1.1); /* Enlarge the image by 20% on hover */
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}


/* Create a responsive layout */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 10px;
  }

  /* Adjust heading sizes for smaller screens */
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 10px;
  }

  /* Center-align text for small screens */
  .text-center {
    text-align: center;
  }

}

/* Enable smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.div_box_left {
  max-width: 96%;
  box-shadow: -8px -4px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_box_right {
  box-shadow: 8px -4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}
