.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header svg {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.light .header{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.dark .header{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.light .link{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.dark .link{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
