.stacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Optional: Adjust horizontal spacing */
  margin-bottom: 6rem;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center

}

.icon-container svg {
  font-size: 5rem; /* Increase the font size to make all icons bigger */
  margin: 1rem; /* Add some margin between icons (optional) */
}

